
.admincats__span {
    color: rgb(32, 20, 94);
    font-style: italic;
}

.admincats__wrapper {
    display: flex;
    align-items: center;
}

.admincats__title {
    margin-right: 10px;
}

.admincats__title + * {
    color: rgb(32, 20, 94);
}

.admincats__links {
    margin-top: 20px;
}

.admincats__linkContainer {
    display: flex;
    align-items: center;
}



.admincats__linkTitle {
    margin: 0 10px;
}

.admincats__arrow {
        
}