.subsections {
    overflow: hidden;
    
}

.subsections__span {
    color: rgb(32, 20, 94);
    font-style: italic;
}

.subsections__wrapper {
    height: 100%;
    justify-content: space-between;
    display: flex;
}

.subsections__wrapper > * {
    width: 45%;
}

.subsections__title {
    margin-right: 10px;
}

.subsections__title + * {
    color: rgb(32, 20, 94);
}

.subsections__links {
    margin-top: 20px;
}

.subsections__linkContainer {
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 250px;
}

.subsections__linkContainer.active {
    color: rgb(152, 132, 255);
}


.subsections__linkTitle {
    margin: 0 10px;
    min-width: 190px;
}

.subsections__arrow {
    transition: .3s ease;
}

.subsections__linkContainer:hover .subsections__arrow {
    transform: translateX(10px);
}

.subsections__conceal {
   background-color: rgb(32, 20, 94); 
   position: absolute;
   top: 90px;
   left: 20px;
   width: 40px;
   margin-left: -20px;
   height: 40px;
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: end;
   padding-right: 10px;
}

.subsection__name {
    width: fit-content;
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(32, 20, 94);
}

.subsection__container {
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: space-between;
}

.subsections__container.photo_container {
    width: 350px;
}

.subsection__label.news_add {
    margin-top: 10px;
    text-align: center;
}

.subsection__label {
    font-size: 18px;
    width: 100%;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: aliceblue;
    margin-bottom: 10px;
}

.subsections__burger {
    transition: .3s ease;
    font-size: 20px;
}

.subsections__conceal:hover .subsections__burger{
    transform: scale(1.1);
}

.subsection__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(50, 50, 50);
    font-size: 18px;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.subsection__input:disabled {
    background-color: rgba(128, 128, 128, 0.35);
}

.subsection__warn {
    color: red;
    margin-bottom: 10px;
}

.subsection__btn {
    margin-top: 20px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    padding: 15px 25px;
    background-color: rgb(32, 20, 94);
}

.subsection__btn:disabled {
    cursor: default;
    background-color: #808080;
}

.subsection__radio_label {
    font-size: 16px;
}

.subsection__radio {
    width: 20px;
}

.subsections__unnecessary_form {
    margin-top: 20px;
    position: relative;
    width: fit-content;
    padding: 10px 20px;
    background-color: #fffaf0;
}

.subsections__unnecessary_form 
.adminenrollment__wrapper 
.adminenrollment__container
.subsection__label{
    background-color: #ffff0033;
}

.subsections_unnecessary_form_btn {
    position: absolute;
    right: 50px;
    top: 35px;
}