.directions {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.directions_search {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: rgb(32, 20, 94);
    border-radius: 5px;
}

.directions__search_container {
    position: relative;
}

.search_icon {
    color: white;
    font-size: 30px;
}

.directions__filters {
    display: flex;
    flex-direction: column;
}

.directions__dropdownlist_container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 15px 20px;
}

.directions__label {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    color: black;
}

.directions__dropdown {
    min-width: 100%;
    background-color: aqua;
    position: absolute;
    top: 50px;
    left: 0;
}

.directions__nav {
    min-width: 900px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 15px 20px;
    background-color: rgba(128, 128, 128, 0.3);
}



.directions__nav_title {
    width: 100px;
}

.directions__nav_title_name {
    width: 150px;
}


.directions__wrapper {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.directions__nav_title_id {
    width: 30px;
}

.direction {
    background-color: rgb(153, 163, 172);
    min-height: 40px;
    min-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
}

.direction__title_id {
    width: 30px;
    color: white;
}

.direction__title {
    width: 100px;
    text-wrap: wrap;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.direction__title.direction_name {
    width: 150px;
    hyphens: auto;
    word-break: break-all;
}

.direction__subtitle {
    margin-bottom: 10px;
    color: white;
}

@media (max-width: 900px) {
    .directions__wrapper {
        overflow-x: scroll;
    }
}